<h2><u>Tab Example</u></h2>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <mat-tab-group animationDuration="0ms" mat-stretch-tabs>
        <mat-tab label="Tab One">
          <div class="mat-tab-body-content">
            <app-tab-one></app-tab-one>
          </div>
        </mat-tab>
  
        <mat-tab label="Tab Two">
          <div class="mat-tab-body-content">
            <app-tab-two></app-tab-two>
          </div>
        </mat-tab>
  
        <mat-tab label="Tab Three">
          <div class="mat-tab-body-content">
            <app-tab-three></app-tab-three>
          </div>
        </mat-tab>
  
        <mat-tab label="Tab Four">
          <div class="mat-tab-body-content">
            <app-tab-four></app-tab-four>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>



